body{
    background-color: #F3F3F3;
    width: 100%;
}
.img-responsive{
    height: auto;
    display: block;
    max-width: 100%;
}
.class-name{
    margin: auto;
    background-color: #212529;
    color: #fee497;
}
.overview{
    margin-top: 20px;
    border: black solid 1px;
    background-color: #B09748;
}
.frame{
    border: solid black 3px;
    margin-bottom: 10px;
}
#picture{
    margin: auto;
    margin-bottom: 10px;
   position: relative; 
    border: solid black 3px;
    height: 350px;
    width: 350px;
   border-radius: 50%;
}
#banner{
    position: absolute; 
    bottom: 10px;
    border: solid black 3px;
    height: 50px;
    width: 350px;
}
.frame-a{
    border: solid black 3px;
    margin-bottom: 10px;
}
#footer{
    margin-top: 55px;
    padding: 10px;
    background-color: #B09748;
    color: white;
    height: 200px;
}
#topNav{
    background-color: #B09748;
    padding: 10px;
    width: 100%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    background-color: #fee497;
    border-color: #B09748;
}
#logos{
    padding-left: 10px;
}
.nav-link:link, .nav-link:visited, .nav-link:hover{
    text-decoration: none;
    color: white;
}
#desc, #banner{
    background-color: #212529;
    color: white;
}
#desc{
    height: max-content;
}
#opp-pro, #class-news{
    background-color: white;
}

.box {
    position: relative;
    width: 50%;
  }
  
  .opp {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #212529;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .box:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .opp-info {
    color: #fee497;
    font-size: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }